---
const slides = [
  {
    title: "Disciplina",
    content: {
      paragrapgh:
        "En Comando 99 esperamos que cada miembro sea responsable en sus roles de manera ordenada.",
      subtitle: "Respeto - Trabajo en equipo - Eficacia operativa",
      redirect: "Mas informacion",
      thumbnail: "./images/rangos/red_beret_salute.webp",
      altText: "Soldier with red beret looking proudly to the sky",
    },
  },
  {
    title: "Disciplina",
    content: {
      paragrapgh: "This is the first slide",
      subtitle: "",
      redirect: "Mas informacion",
      thumbnail: "./images/rangos/simple_Hat.webp",
      altText: "Soldier with army hat looking proudly to the sky",
    },
  },
  {
    title: "Disciplina",
    content: {
      paragrapgh: "This is the first slide",
      subtitle: "",
      redirect: "Mas informacion",
      thumbnail: "./images/rangos/modular_helmet.webp",
      altText: "Soldier with red beret looking proudly to the sky",
    },
  },
];
---

<section class="showcase" id="showcase">
  <div class="carousel">
    <div class="carousel-track">
      {
        slides.map((slide, index) => (
          <div class="carousel-slide" data-slide={index}>
            <div class="slide-content hud-border">
              <div class="content-text">
                <h2>{slide.title}</h2>
                <h3>{slide.content.subtitle}</h3>
                <p>{slide.content.paragrapgh}</p>
                <button>{slide.content.redirect}</button>
              </div>
              <img src={slide.content.thumbnail} alt={slide.content.altText} />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .carousel-track {
    width: 100%;
    margin: 0 auto;
  }
  .slide-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background: #4608085d;
    border: 1px solid rgba(129, 11, 11, 0.445);
    margin: 1px;

    .content-text {
      margin-left: 1rem;
      margin-top: 1em;

      h2 {
        text-transform: uppercase;
        font-size: 4.5em;
        line-height: 1;
      }

      h3 {
        font-weight: 300;
        color: #cececec4;
        font-family: "Stick No Bills";
        letter-spacing: 0.5px;
        margin-bottom: 1em;
      }

      p {
        font-size: 1.5rem;
        max-width: 40ch;
      }

      button {
        border-color: transparent;
        background: hsla(0, 99%, 49%, 0.63);
        text-shadow: 0 0 5px rgb(0, 0, 0);
        color: white;
        padding: 0.5em 2em;
        font-size: 1em;
        font-weight: 900;
        text-transform: uppercase;
        font-family: inherit;
        letter-spacing: 1px;
        cursor: pointer;
        margin-top: 1em;
        max-width: 300px;
        border-width: 1px;

        &:hover {
          background: rgba(160, 1, 1, 0.747);
          border: 1px solid red;
        }
      }
    }

    img {
      object-fit: cover;
      max-height: 50vh;
    }
  }
</style>
